body{
    font-family: "Open Sans", sans-serif;
}
h1,h2,h3{
    font-family: "Sacramento", cursive;
}

/* h3{
    font-family: "Press Start 2P", cursive;
} */

h2,h3{
    color: white;
}

body{
    background: linear-gradient(white 10%, magenta 70%,cyan, darkblue);
}
header h2{
    color: Blue;
}
header h1{
    font-family: "Lobster Two", cursive;
    background: linear-gradient(cyan, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

/* footer{
    background-image: linear-gradient(white, cyan, magenta 10%,white);
    padding: 20px 0;

   
}  */

.jumbotron-fluid{
    padding: 30px;
    background-image: linear-gradient(to right, lime,yellow,orange, purple);
    margin: 0;
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge  cyan;
    min-height: 200px;
    
} 

.navbar{
    background-color: thistle;
}

.jumbotron{
    margin: 0;
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

.crumbs{
    writing-mode: vertical-rl;
    text-orientation: sideways;


}